# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
Frontend/project-management-app/dist
Frontend/project-management-app/tmp
Frontend/project-management-app/out-tsc
Frontend/project-management-app/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
Frontend/project-management-app/.angular/cache
Frontend/project-management-app/.sass-cache/
Frontend/project-management-app/connect.lock
Frontend/project-management-app/coverage
Frontend/project-management-app/libpeerconnection.log
Frontend/project-management-app/testem.log
Frontend/project-management-app/typings

# System files
.DS_Store
Thumbs.db

.env