<!-- project-listing.component.html -->
<nav class="navbar_project">
  <div class="navbar-brand">
    <p>Projects</p>
  </div>
  <div class="navbar-logout">
    <button (click)="logout()">Logout</button>
  </div>
</nav>
<div class="project-listing-container">
  <div class="left-container">
    <h1 class="project_heading">Project</h1>
    <form (ngSubmit)="addProject()" class="add-project-form">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="newProject.name"
        required
      />

      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="newProject.description"
      ></textarea>

      <label for="startDate">Start Date:</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        [(ngModel)]="newProject.startDate"
        required
      />

      <label for="endDate">End Date:</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        [(ngModel)]="newProject.endDate"
        required
      />

      <button type="submit">Add Project</button>
    </form>
  </div>

  <div class="right-container">
    <div class="project-cards">
      <div *ngFor="let project of projects" class="project-card">
        <h3>{{ project.name }}</h3>

        <button (click)="onProjectClick(project)" class="view-details-button">
          {{
            selectedProjectId === project._id ? "Hide Details" : "View Details"
          }}
        </button>

        <button
          (click)="navigateToTasks(project._id)"
          class="view-details-button"
        >
          Add Tasks +
        </button>

        <div *ngIf="selectedProjectId === project._id" class="project-details">
          <p>Description: {{ project.description }}</p>
          <p>Start Date: {{ project.startDate }}</p>
          <p>End Date: {{ project.endDate }}</p>
          <p>Project Manager: {{ project.projectManagerName }}</p>

          <button (click)="onEditClick(project)" class="edit-project-button">
            Edit Project
          </button>

          <div *ngIf="isEditing(project)" class="edit-project-form">
            <label for="editName">Name:</label>
            <input
              type="text"
              id="editName"
              name="editName"
              [(ngModel)]="editedProject.name"
              required
            />

            <label for="editDescription">Description:</label>
            <textarea
              id="editDescription"
              name="editDescription"
              [(ngModel)]="editedProject.description"
            ></textarea>

            <label for="editStartDate">Start Date:</label>
            <input
              type="date"
              id="editStartDate"
              name="editStartDate"
              [(ngModel)]="editedProject.startDate"
              required
            />

            <label for="editEndDate">End Date:</label>
            <input
              type="date"
              id="editEndDate"
              name="editEndDate"
              [(ngModel)]="editedProject.endDate"
              required
            />

            <label for="editProjectManager">Project Manager:</label>
            <input
              type="text"
              id="editProjectManager"
              name="editProjectManager"
              [(ngModel)]="editedProject.projectManager"
              required
            />

            <button (click)="updateProject()" class="update-project-button">
              Save Changes
            </button>
          </div>
        </div>

        <button
          (click)="deleteProject(project._id)"
          class="delete-project-button"
        >
          Delete Project
        </button>
      </div>
    </div>
  </div>
</div>
