<div class="navbar">
  <h1>QuickPlan</h1>
</div>
<div class="container">
  <div class="registration-image">
    <img
      src="https://cdn-cashy-static-assets.lucidchart.com/marketing/blog/2019Q1/why-pm-is-important/project-management-header.png"
      alt="image not found"
    />
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Registration</h2>
    </div>
    <div class="card-body">
      <form
        (ngSubmit)="register()"
        #registrationForm="ngForm"
        class="registerForm"
      >
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="user.username"
          required
          #username="ngModel"
        />
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
          <div class="alert alert-danger" role="alert">
            Username is required.
          </div>
        </div>

        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="user.email"
          required
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
          #email="ngModel"
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <div class="alert alert-danger" role="alert">
            Please enter a valid email.
          </div>
        </div>

        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="user.password"
          required
          [pattern]="passwordPattern"
          #password="ngModel"
        />
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <div class="alert alert-danger" role="alert">
            Password is required and must contain at least one capital letter
            and one special character.
          </div>
        </div>

        <label for="role">Role:</label>
        <select
          id="role"
          name="role"
          [(ngModel)]="user.role"
          required
          #role="ngModel"
        >
          <option value="admin">Admin</option>
          <option value="project_manager">Project Manager</option>
          <option value="team_member">Team Member</option>
        </select>
        <div *ngIf="role.invalid && (role.dirty || role.touched)">
          <div class="alert alert-danger" role="alert">Role is required.</div>
        </div>

        <button type="submit" [disabled]="registrationForm.invalid">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
